{% if !page.variables.blog_no_title %}
<div class="blog-header">
    {% if typeof title !== 'undefined' || page.title %}
    <div class="blog-header-title">
        {% if typeof title !== 'undefined' %}
            <h1>{{ title }}</h1>
        {% else %}
            <h1>{{ page.title }}</h1>
        {% endif %}
    </div>
    {% endif %}
    <div class="blog-header-meta">
        {% if date_format(page.date, '%Y') != 1970 %}
            <div class="blog-header-meta-date">{{ date_format(page.date, '%Y-%m-%d') }}</div>
        {% endif %}
        {% if page.variables.blog_category %}
            {% set category = undefined %}
            {% for category_object in databases.blog_categories.data %}
                {% if category_object.id == page.variables.blog_category %}
                    {% do category = category_object %}
                    {% break %}
                {% endif %}
            {% endfor %}
            {% if category %}
                <div class="blog-header-meta-category">
                    <a href="{{ page_url('/blog/category/' + category.id) }}">
                        {% if category.emoji %}
                            <span class="emoji">{{ category.emoji }}</span>
                        {% endif %}
                        {{ category.title.ru }}
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}