{% macro WishlistTableOfContents(db) %}
    {% for category in db.data %}
        {% set items = category.items %}
        {% if items.length > 0 %}
            <li>
                <a href="#{{ category.id }}">{{ category.title }} ({{ items.length }})</a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro WishlistTable(db, is_positive) %}
    <div class="wishlist">
        {% for category in db.data %}
            {% set items = category.items %}
            {% if items.length > 0 %}
                <div class="category">
                    <h3 id="{{ category.id }}"
                        class="{% if is_positive %}positive{% else %}negative{% endif %}">{{ category.title }}</h3>
                    {% if category.description %}
                        <div class="category-description">
                            {{ safe(markdown(category.description)) }}
                        </div>
                    {% endif %}
                    <div class="items">
                        {% for item in items %}
                            <div class="item">
                                <img src="{{ item.image }}" alt="{{ item.title }}"/>
                                <div class="info">
                                    {% if item.link %}
                                        <a href="{{ item.link }}" class="title">{{ item.title }}</a>
                                    {% else %}
                                        <b>{{ item.title }}</b>
                                    {% endif %}
                                    {% if item.description %}
                                        <p class="description">{{ safe(markdown(item.description)) }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
