<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ .Site.Title }}</title>
        <link>{{ .Site.BaseUrl }}/rss.xml</link>
        <description>{{ .Site.Description }}</description>
        <atom:link href="{{ .Site.BaseUrl }}/rss.xml" rel="self"/>
        <language>{{ .Site.Lang }}</language>
        <lastBuildDate>{{ date_format(now()) }}</lastBuildDate>
{% if agg_dicts[rss_agg_dict] %}
{% for page_id in agg_dicts[rss_agg_dict].data.true %}
{% set p = pages[page_id] %}
{% if !p.is_hidden && !p.is_draft %}
        <item>
            <title>{{ p.title }}</title>
            <link>{{ settings.site.base_url }}{{ p.uri }}</link>
            <pubDate>{{ date_format(p.date) }}</pubDate>
            <guid>{{ settings.site.base_url }}{{ p.uri }}</guid>
            <description>{{ p.short }}</description>
        </item>
{% endif %}
{% endfor %}
{% endif %}
    </channel>
</rss>